*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.trees{
    background-image: url(./img/trees.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.trees{
    background-image: url(./img/trees.png);
       width: 100%;
       height: 100%;
       position: absolute;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       overflow: hidden;
   }
   
   .leaf1{
       background-image: url(./img/leaf_01.png);
       position: absolute;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       background-size: 3% 4%;
       background-position: 10rem 1rem;
       display: flex;
       z-index: -3;
       animation: leaves 15s reverse infinite;
       
   }
   
   .leaf2{
       background-image: url(./img/leaf_02.png);
       width: 100%;
       height: 100%;
       background-size: 3% 4%;
       background-position: 30rem 5rem;
       position: absolute;
       background-repeat: no-repeat;
       display: flex;
       z-index: -3;
       animation: leaves 15s reverse infinite;
     
   }
   
   .leaf3{
       background-image: url(./img/leaf_03.png);
       width: 100%;
       height: 100%;
       background-size: 3% 4%;
       background-position: 50rem 7rem;
       background-repeat: no-repeat;
       display: flex;
       position: absolute;
       z-index: -2;
       animation: leaves 9s reverse infinite;
   }
   
   .leaf4{
       background-image: url(./img/leaf_04.png);
       width: 100%;
       height: 100%;
       background-size: 3% 4%;
       background-position: 70rem 9rem;
       background-repeat: no-repeat;
       display: flex;
       position: absolute;
       z-index: 0;
       animation: leaves 8s reverse infinite;
   }
   .leaf5{
       background-image: url(./img/leaf_01.png);
       width: 100%;
       height: 100%;
       background-size: 3% 4%;
       background-position: 90rem 9rem;
       background-repeat: no-repeat;
       display: flex;
       position: absolute;
       z-index: -1;
       animation: leaves 8s reverse infinite;
   }
   .leaf6{
       background-image: url(./img/leaf_02.png);
       width: 100%;
       height: 100%;
       background-size: 3% 4%;
       background-position: 120rem 11rem;
       background-repeat: no-repeat;
       display: flex;
       position: absolute;
       z-index: -2;
       animation: leaves 10s reverse infinite;
   }
 @keyframes leaves{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-10px);
    }
} 
.girl{
   background-image: url(./img/girl.png);
   position: absolute;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   display: flex;
   background-size: 20% 45%;
   background-position: right;
   z-index: -2;
   animation: girl 8s linear infinite;
   
}
@keyframes girl {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateX(-2000px);
    }
}
.container{
    width: 25rem;
    height: 22rem;
    border: 2px solid  rgba(178, 165, 165, 0.327);
    border-radius: 16px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1rem);
    z-index: 0;
    padding: 1rem;
    padding-top: 2rem;
}
.container h1{
    text-align: center;
    font-size: 30px;
    color:brown
}
.container input{
    width: 100%;
    height: 100%;
    margin: 10px 0;
    padding:0.7rem; 
    border: none;
    border-bottom: 2px solid;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
}
.container input::placeholder{
    color: darkred;
}
.container button{
    background-color: brown;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    color:white;
    font-family: sans-serif;
    margin-left: 4rem;
}
.container .forget-sign{
display: flex;
justify-content: space-between;
padding: 1.5rem;
padding-left: 2rem;
padding-right: 2rem;
}
.forget-sign a{
    color: brown;
}
.cat{
    background-image: url(./img/kitten-4794761_1280.png);
    position: absolute;
    bottom: 0.001px;
    right: 15px;
    width: 100px;
    height: 330px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: myCat 1s infinite alternate;
}
@keyframes myCat {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}











